* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f2ec;
    overflow: hidden;
}
.coracao {
  width: 100%;
  height: 100%;
  display: inline-grid;
  place-items: center;
  filter: drop-shadow(0 0 20px rgba(255, 55, 95, .45));
  margin-bottom: 16px;
  animation: batida 1.2s infinite ease-in-out;
}

.rastro {
    position: absolute;
    pointer-events: none; 
    font-size: 20px;
    z-index: 9999; 
    user-select: none;
    animation: sumirCoracao 0.65s forwards ease-out;
}

@keyframes sumirCoracao {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) translateY(-20px);
    }
}


.telaPrincipal {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f5f2ec;
    display: flex;
}


.fotoCasal {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
}

.fotoCasal img {
    height: 100vh;
    width: auto;
    object-fit: contain;
    display: block;
}


.conteudoDireito {
    position: relative;
    margin-left: auto; 
    width: 55%;        
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding-right: 8%; 
    z-index: 3;
}


.blocoConteudo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 480px; 
    
}


.coracaoCentro {
    position: absolute;
    right: 75%;
    top: 20px;
    width: 455px; 
    height: auto;
    margin-bottom: 20px; 
}


.divCima {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px; 
    width: 100%;
}

.fraseCoracao {
    display: flex;
    align-items: center;
    gap: 6px;
}

.fraseCoracao img {
    width: 14px;
    height: 14px;
}

.fraseCoracao h4 {
    font-size: 20px; 
    color: #7b6a58;
    font-weight: 400;
    
}


.quadradoLogin {
    background: #ffffff;
    width: 100%; 
    padding: 45px 40px;
    border-radius: 24px; 
    box-shadow: 0px 15px 35px rgba(123, 106, 88, 0.06); 
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.decoracaoCima {
    width: 15vh;
    margin-bottom: 1px;
    
}

.Login h3 {
    font-size: 30px;
    color: #635343;
    margin-bottom: 8px;
    font-weight: 500;
}

.Login h5 {
    font-size: 13px;
    color: #8f8f8f;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 18px;
    max-width: 90%;
}

.divCoracao {
    width: 30vh;
    margin-bottom: 20px;
}

.Login label {
    font-size: 13px;
    color: #7b6a58;
    margin-bottom: 12px;
    font-weight: 500;
}


.Login input {
    width: 100%;
    height: 46px;
    border: 1px solid #e5dfd5;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 14px;
    outline: none;
    color: #333;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.Login input::placeholder {
    color: #c5bfb5;
}

.Login input:focus {
    border-color: #BE955F;
}


.botaoComecar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: #BE955F;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
    border: none;
    cursor: pointer;
}

.botaoComecar:hover {
    background-color: #aa814c;
    transform: scale(1.01);
}


.flores {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 95vh;
    z-index: 2;
    pointer-events: none; 
}

.flores img {
    height: 100%;
    width: auto;
    object-fit: contain;
}


@media (max-width: 1280px) {
    .conteudoDireito {
        width: 60%;
        padding-right: 4%;
    }
}